In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import re
import numpy as np

In [2]:
# URL of different Tennessee Districts
#URL = ['https://www.opensecrets.org/races/candidates?cycle=2020&id=TN07&spec=N'
#'https://www.opensecrets.org/races/candidates?cycle=2022&id=NH01&spec=N'
#'https://www.opensecrets.org/races/candidates?cycle=2020&id=IL05&spec=N'
#'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN09&spec=N'
#'https://www.opensecrets.org/races/candidates?cycle=2022&id=AL01&spec=N'


#'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN07&spec=N'
    #'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN01&spec=N'
#'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN02&spec=N'
#'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN03&spec=N'
 #'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN04&spec=N'
# 'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN05&spec=N'
#  'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN06&spec=N'   
#  'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN08&spec=N'
#  'https://www.opensecrets.org/races/candidates?cycle=2020&id=TN09&spec=N'
#'https://www.opensecrets.org/races/candidates?cycle=2022&id=AL01&spec=N'

#response = requests.get(URL)
#soup = BS(response.content, 'html.parser')

In [3]:

#Creating empty dataframe with column names
Election = pd.DataFrame(columns = ['Name',
                                   'Party',
                                   'State', 
                                   'District_Number',
                                   'Incumbent',
                                   'Result',
                                   'Vote_Percentage',
                                   'Amount_Raised ($)',
                                   'Amount_Spent ($)'])
#Election

def election2020(URL):
    response = requests.get(URL)
    soup = BS(response.content, 'html.parser')
   
    global Election
    
# List of variables 
    Candidate_Name = ""
    Candidate_Party = ""
    Candidate_State =""
    Candidate_District =""
    C_Incumbent = ""
    Won_Race =""
    Vote_Percentage = np.NaN
    Amount_Raised = np.NaN
    Amount_Spent = np.NaN

# Loop to find
    for amount in soup.find_all("div", class_= "Members--list-item"):
        #print(amount)
    
        for member in amount.find_all("div", class_= "Members--bio u-richtext"):
            Candidate = member.find('strong').text
            #print(Candidate)
            Candidate_Party = re.findall("\(\w\)", Candidate)[0].replace('(', '').replace(')', '') 
            Candidate_Name = Candidate.split(' (')[0].replace("\t", "").replace("\n", "")
            #print(Candidate_Name)
            Candidate_Party = re.findall("\(\w\)", Candidate)[0].replace('(', '').replace(')', '') 
            #print(Candidate_Party)
            #Vote= re.findall("(\d+.\d%)", Candidate)[0].replace('(', '').replace('%',' ').replace(')', '') 
            #print(Vote)
        
            if "Incumbent" in Candidate:
                C_Incumbent = True
                #print(C_Incumbent)
            else: 
                C_Incumbent = False
            
            if "Winner" in Candidate:
                Won_Race = True
                #print(Won_Race)
            else:
                Won_Race = False
        
            if "vote" in Candidate:
                Vote= re.findall("(\d+.\d%)", Candidate)[0].replace('(', '').replace('%',' ').replace(')', '') 
                #print(Vote)
            else: 
                Vote = ' '
        
            for title in soup.find_all('h1', class_= "Hero-title"):
                #print(title)
                Candidate_State = title.text.split(' District')[0]
                #print(Candidate_State)
                Candidate_District = title.text.split('District ')[1].split(" ")[0]
                #print(Candidate_District) 
                     
                raised = amount.find_all("td", class_= "Members--number")[0].text.replace('$',"").replace(",", "")
                #print(raised)
                spent = amount.find_all("td", class_= "Members--number")[1].text.replace('$',"").replace(",", "")
                #print(spent)
                Election = Election.append({'Name': Candidate_Name, 'Party': Candidate_Party, 'State' : Candidate_State, 
                                            'District_Number': Candidate_District ,'Incumbent': C_Incumbent, 
                                            'Result': Won_Race, 'Vote_Percentage': Vote, 'Amount_Raised ($)': raised, 
                                            'Amount_Spent ($)': spent}, ignore_index = True)

In [12]:
election2020('https://www.opensecrets.org/races/candidates?cycle=2020&id=TN09&spec=N')
Election

/var/folders/s3/9_r9v9px7_v0q69b5zcbnmsm0000gn/T/ipykernel_67286/363194571.py:74: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Election = Election.append({'Name': Candidate_Name, 'Party': Candidate_Party, 'State' : Candidate_State,
/var/folders/s3/9_r9v9px7_v0q69b5zcbnmsm0000gn/T/ipykernel_67286/363194571.py:74: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Election = Election.append({'Name': Candidate_Name, 'Party': Candidate_Party, 'State' : Candidate_State,
/var/folders/s3/9_r9v9px7_v0q69b5zcbnmsm0000gn/T/ipykernel_67286/363194571.py:74: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Election = Election.append({'Name': Candidate_Name, 'Party': Candidate_Party, 'State' : Candidate_State,

,Name,Party,State,District_Number,Incumbent,Result,Vote_Percentage,Amount_Raised ($),Amount_Spent ($)
0,Diana Harshbarger,R,Tennessee,01,False,True,74.8,2126946,1869100
1,Blair Nicole Walsingham,D,Tennessee,01,False,False,22.4,140209,134995
2,Tim Burchett,R,Tennessee,02,True,True,67.7,1336276,878488
3,Renee Hoyos,D,Tennessee,02,False,False,31.0,812784,816793
4,Chuck Fleischmann,R,Tennessee,03,True,True,67.3,1051653,381411
5,Meg Gorman,D,Tennessee,03,False,False,30.5,85843,77760
6,Scott Desjarlais,R,Tennessee,04,True,True,66.7,331464,392499
7,Christopher Hale,D,Tennessee,04,False,False,33.3,308731,302996
8,Jim Cooper,D,Tennessee,05,True,True,100.0,936569,1332131
9,John Rose,R,Tennessee,06,True,True,73.7,1050429,625688
10,Mark Green,R,Tennessee,07,True,True,69.9,1194960,935487
11,Kiran Sreepada,D,Tennessee,07,False,False,27.3,206644,207191
12,Ronald Brown,I,Tennessee,07,False,False,2.2,1750,0
13,Scott Vieira Jr,I,Tennessee,07,False,False,0.6,655,1049
14,David Kustoff,R,Tennessee,08,True,True,68.5,1641217,999285
15,Erika Stotts Pearson,D,Tennessee,08,False,False,29.5,19070,15883
16,Steve Cohen,D,Tennessee,09,True,True,77.4,607570,457311
17,Charlotte Bergmann,R,Tennessee,09,False,False,20.1,99147,100532
18,Dennis Clark,I,Tennessee,09,False,False,1.6,9991,9919

In [ ]:
StateRepURL = 'https://www.britannica.com/topic/United-States-House-of-Representatives-Seats-by-State-1787120'
response = requests.get(URL)
soup = BS(response.content, 'html.parser')